body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: hsl(0, 0%, 95%);
    background-position: translate(25%, 25%s);
    background-size: 100%;
    background-image: url("https://images.unsplash.com/photo-1476610182048-b716b8518aae?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8fA%3D%3D?raw=true");
    zoom: 50%;
}

#calculator {
    font-family: Arial, sans-Serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 20%;
    overflow: hidden;
    transform: translate(0%, 50%);    
}

#display {
    width: 500px;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator-btn {
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}
